<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class identifier</title>
    <link href="../static/favicon.ico" rel="icon" />
    <link href="../static/output.css" rel="stylesheet" />
    <link href="../static/index.css" rel="stylesheet" />
  </head>
  <body>
    <script src="../static/index.js" defer></script>
    <!--Inspiration of: https://flowbite.com/docs/components/navbar/-->
    <nav class="bg-[#19bc55] px-2 sm:px-4 py-2.5 navbar">
      <div
        class="container flex flex-wrap justify-center items-center mx-auto gap-4"
      >
        <a href="/" class="flex items-center">
          <img
            src="/static/logo class identifier GLS.svg"
            class="mr-3 h-20 sm:h-12 w-full md:block md:w-auto mr-auto text-center text-xl"
            alt="Logo of class identifier of Gene Lorenz Sarmiento"
          />
        </a>
        <div class="w-full md:block md:w-auto mr-auto text-center text-xl">
          <a href="/">Home</a>
        </div>
        <div class="w-full md:block md:w-auto">
          <ul
            class="flex flex-col mt-4 text-center gap-4 md:flex-row md:gap-4 md:space-x-8 md:mt-0"
          >
            {% if session["user_id"]%}
            <a href="/logout" class="text-xl">Logout</a>
            <a href="/find_class" class="text-xl">Find a Class</a>
            {% else %}
            <a href="/login" class="text-xl">Login</a>
            <a href="/register" class="text-xl">Register</a>
            <a href="/find_class" class="text-xl">Find a Class</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
