{% extends "layout.html" %} {% block content %}
<div class="flex flex-col items-center content-center">
  <div class="text-center text-2xl">Login</div>
  <form class="my-5 rounded flex flex-col gap-4" action="/login" method="post">
    <input
      type="text"
      class="rounded-lg"
      name="username"
      placeholder="Username"
      required
      autocomplete="off"
    />
    <input
      type="password"
      class="rounded-lg"
      name="password"
      placeholder="Password"
      required
      autocomplete="off"
    />
    <input type="submit" class="bg-blue-500 rounded py-3" />
  </form>
</div>
{% endblock %}
