{% extends "layout.html"%} {% block content %}
<h1 class="text-center text-2xl bold">Hello, {{ name }}!</h1>
<div class="block container md:flex items-center">
  {% if role == "Teacher" %}
  <button
    class="px-5 py-3 text-white bg-blue-500 mx-4 rounded-xl"
    onclick='location.href = "/add_subject" '
  >
    <a href="/add_subject"> Add a new subject in a class</a>
  </button>
  {% endif %}
  <div class="block px-5 py-3 gap-3 md:flex">
    {% for row in rows %}
    <div class="bg-green-500 mb-3 px-5 rounded-xl md:m-0 md:py-3">
      <h1 class="bold text-2xl">{{ row.subject}}</h1>
      <h1>by <span class="text-yellow-400">{{ row.teacher }}</span></h1>
      <h1>Grade {{ row.grade }} - {{ row.section }}</h1>
      <h1>Time: {{ row.time }}</h1>
      {% if row.link %}
      <a href="{{ row.link }}">Link to the Class (click me)</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
