<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class identifier</title>
    <meta name="theme-color" content="transparent" />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent" />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      defer
    ></script>

    <!--Inspiration of: https://flowbite.com/docs/components/navbar/-->
    <nav class="bg-[#19bc55] px-2 sm:px-4 py-2.5 navbar">
      <div
        class="container flex flex-wrap justify-center items-center mx-auto gap-4"
      >
        <a href="/" class="flex items-center">
          <img
            src="{{ url_for('static', filename='logo class identifier GLS.svg') }}"
            class="mr-3 h-20 sm:h-12 w-full md:block md:w-auto mr-auto text-center text-xl"
            alt="Logo of class identifier of Gene Lorenz Sarmiento"
          />
        </a>
        <div class="w-full md:block md:w-auto mr-auto text-center text-xl">
          <a href="/">Home</a>
        </div>
        <div class="w-full md:block md:w-auto">
          <ul
            class="flex flex-col mt-4 text-center gap-4 md:flex-row md:gap-4 md:space-x-8 md:mt-0"
          >
            {% if session["user_id"]%}
            <a href="/logout" class="text-xl">Logout</a>
            <a href="/find_class" class="text-xl">Find a Class</a>
            {% else %}
            <a href="/login" class="text-xl">Login</a>
            <a href="/register" class="text-xl">Register</a>
            <a href="/find_class" class="text-xl">Find a Class</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <!--PWA: https://github.com/umluizlima/flask-pwa/tree/master-->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
